body {
	background-color: #fff;
	color: #333;
	font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 1em;
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:valid {
	border-color: #C3FF99;
}

input:invalid {
	border-color: crimson;
}

form > ul > li:nth-child(n+2){
	margin-top: 15px;
}

